:root {
  /* LIGHT MODE VARIABLE */
  --body-bg: radial-gradient(123.22% 129.67% at 100.89% -5.6%,#fbfbfd 0%,#f2f2ff 100%);

  --primary-color: #5244d2;
  --primary-color-8: #5244d214;
  /* --primary-icon-color: #7851bc; */
  --primary-icon-color: #2F2B43;

  --white-color: #ffffff;
  --black-color: #151231;

  --border-color: #d5d5ee;
  --border-color-40: #d5d5ee66;

  --outer-card-bg: linear-gradient(210.96deg,rgba(245, 242, 255, 0.8) 0.01%,#f5f1ff 42.05%,rgba(247, 243, 255, 0.06) 104.81%);
  --inner-card-bg: linear-gradient(241.25deg,rgba(255, 255, 255, 0.45) 4.4%,rgba(255, 255, 255, 0.65) 61.77%,rgba(255, 255, 255, 0.54) 119.94%);

  --header-card: linear-gradient(90deg, #f3f3ff 29.59%, #f2f2ff 100%);

  --box-shadow: 0px 20px 69px 0px #dfdcffd8;
  --inner-card-box-shadow: 50px 38px 102.37px 0px #78769424;
  --offcanvas: #fff;

 
   /* --body-bg: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #05040B 0%, #060316 100%);

  --primary-color: #fff;
  --primary-color-8:#322C4B;
  --primary-icon-color: #BC9FED;

  --white-color: #ffffff;
  --black-color: #ffffff;

  --border-color: #d5d5ee;
  --border-color-40: #BC9FED;

  --outer-card-bg:linear-gradient(210.96deg, rgba(32, 20, 96, 0.61) 0.01%, rgba(49, 30, 95, 0.7) 42.05%, rgba(57, 33, 113, 0.1) 104.81%);
  --inner-card-bg:#372A77;

  --header-card: #A394FD0F;

  --box-shadow:0px 20px 69px 0px #080711D8;
  --inner-card-box-shadow: 50px 38px 102.37px 0px #78769424; */
  
}
html {
  scroll-behavior: smooth;
}
body {
  background: var(--body-bg);
  overflow-y: auto;
  font-family: "Quicksand" !important;
  margin: 0;
 
}
.body-bg{
  background-image: url("../images/Background.png");
  background-position: auto;
  background-repeat: no-repeat;
  background-size: cover;
  position:absolute;
  top:0;
  bottom:0;
  right:0;
  left:0;
  object-fit:cover;
}

::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 4px;
    height:4px;
	background-color: transparent;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--primary-color);
}
.primary-text{
  color:var(--primary-color);
}
.font-16{
  font-size:16px
}
.fw-600 {
  font-weight: 600;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
.cursor-pointer {
  cursor: pointer;
}
.p-24 {
  padding: 24px;
}
.btn {
  font-size: 20px;
  font-weight: 600;
  line-height: 25px;
  height: 48px;
  padding: 0 20px 0 20px;
  gap: 8px;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: none !important;
}
.btn.primary-btn {
  background: linear-gradient(
    135deg,
    #454cdc 0%,
    #411dbf 19.24%,
    #4f31d8 68.64%,
    #4c32dc 81.77%,
    #372dbc 100%
  );
  color: var(--white-color);
}
.dropdown-toggle::after {
  display: none;
}
.dropdown-menu.show {
  background: var(--inner-card-bg-2);
  border: 1px solid var(--border-color);
  border-radius: 16px;
}
.dropdown-menu li {
  padding: 0.25rem 1rem;
}
.dropdown-menu li .dropdown-item {
  font-size: 18px;
  line-height: 20px;
  color: var(--black-color);
  display: inline-block;
  padding: 8px 16px;
  border-radius: 8px;
}
.dropdown-menu li .dropdown-item:hover,
.dropdown-menu li .dropdown-item.active {
  background-color: var(--primary-color-8);
  font-weight: 600;
}
.content-wrapper {
  padding-top: 120px;
}
.card {
  /* background: var(--outer-card-bg); */
  border: 1px solid var(--border-color);
  border-radius: 32px;
  /* box-shadow: var(--box-shadow); */
}
.card-title {
  font-size: 20px;
  font-weight: 600;
  line-height: 17.11px;
  letter-spacing: -0.20533332228660583px;
  color: var(--black-color);
  margin:0;
  text-align: center;
}
.inner-card {
  background: var(--inner-card-bg);
  border: 1px solid var(--border-color);
  border-radius: 16px;
  box-shadow: var(--inner-card-box-shadow);
}
.inner-card label {
  color:var(--black-color)
}
.inner-card p {
  color:var(--black-color)
}
.card-action-wrapper {
  font-size: 24px;
  position: relative;
  /* color: var(--primary-icon-color); */
  color: #2F2B43;
}
.left-arrow{
  font-size: 24px;
  position: absolute;
  color: var(--primary-icon-color);
  top: 15px;
}



@media (max-width: 991.98px) {
  .container {
    max-width: 100%;
  }
}

.option-image {
  width: 20px;
  height: 20px;
  margin-right: 8px;
  vertical-align: middle;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  display: flex;
  align-items: center;
  height: 48px;
}

.select2-container .select2-selection--single .select2-selection__rendered img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
  border: 2px solid var(--primary-icon-color);
}
.select2-container--default .select2-selection--single {
  background-color: var(--white-color);
  border: 1px solid var(--border-color);
  border-radius: 8px;
  height: 48px;
}
.select2-container--default
  .select2-selection--single
  .select2-selection__rendered {
  font-size: 20px;
  font-weight: 500;
  line-height: 25px;
}
.select2-container--default
  .select2-results__option--highlighted.select2-results__option--selectable {
  background-color: var(--primary-color);
  color: var(--white-color);
}
.select2-container--default
  .select2-selection--single
  .select2-selection__arrow {
  top: 10px;
}
.select2-container .select2-dropdown .select2-results__option {
  display: flex;
  align-items: center;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder {
    color: var(--black-color);
    opacity:0.5;
    font-size:16px
}
.select2-container .select2-dropdown .select2-results__option img {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 100px;
}
input{
    width:100%;
    height:48px;
    border-radius:8px;
    border:1px solid var(--border-color);
}
.text-bold{
  font-weight:600
}