.header {
    position: fixed;
    width: 100%;
    top: 16px;
    z-index: 1
}

.w-48 {
    width: 48px
}

.header .header-wrapper {
    border: 1px solid var(--border-color-40);
    padding: 10px 20px;
    background: var(--header-card);
    border-radius: 100px;
}

.header .header-wrapper .site-logo img {
    width: auto;
    height: 40px
}

.header .header-wrapper .menu-wrapper {
    gap: 8px;
}

.header .header-wrapper .menu-wrapper a {
    font-size: 20px;
    font-weight: 600;
    line-height: 25px;
    color: var(--text-color-white);
    display: inline-block;
    padding: 8px 16px;
    border-radius: 100px
}

.header .header-wrapper .menu-wrapper a:hover,
.header .header-wrapper .menu-wrapper a.active {
    background-color: var(--primary-color-8)
}

.header .user-profile {
    padding: .25rem 1rem;
    border-bottom: 1px solid var(--border-color-40);
    margin-bottom: 8px;
    padding-bottom: 16px
}

.header .user-profile img {
    /* width: 50px;
    height: 50px;
    border-radius: 100px;
    border: 1px solid var(--primary-color); */
    margin-right: 12px
}

.header .user-profile label {
    font-size: 18px;
    font-weight: 600;
    line-height: 25px;
    color: var(--black-color);
}

.header .user-profile span {
    font-size: 14px;
    color: var(--black-color);
}

.header .dropdown-menu {
    min-width: 250px;
    top: 20px !important
}

.header-btn {
    padding: 10px !important;
    font-size: 16px !important;
}

.theme-mode .checkbox {
    opacity: 0;
    position: absolute;
}

.theme-mode .checkbox-label {
    background-color: var(--bg-color-btn-primary);
    width: 50px;
    height: 26px;
    border-radius: 50px;
    position: relative;
    padding: 5px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theme-mode .fa-moon {
    color: #f1c40f;
}

.theme-mode .fa-sun {
    color: #f39c12;
}

.theme-mode .checkbox-label .ball {
    background-color: #fff;
    width: 22px;
    height: 22px;
    position: absolute;
    left: 2px;
    top: 2px;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.theme-mode .checkbox:checked+.checkbox-label .ball {
    transform: translateX(24px);
}

.coin-wrapper {
    position: relative
}

.coin-wrapper .coin {
    --large-coin-icon-color: #2563EB;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    background: var(--large-coin-icon-color);
    border-radius: 50%;
    height: 35px;
    width: 35px;
    color: rgb(116, 116, 116);
    mask: radial-gradient(10.5px at calc(100% - 5.5px) calc(100% - 5.5px), rgba(255, 255, 255, 0) 96%, rgb(255, 255, 255)) 100% 100% / 100% 100% no-repeat;
    min-width: 35px;
    border-radius: 100px;
    border: 2px solid var(--large-coin-icon-color)
}

.header .user-profile .coin-wrapper .coin-small,
.coin-wrapper .coin-small {
    --small-coin-icon-color: #C8D8FA;
    width: 19px;
    height: 19px;
    border-radius: 100px;
    border: 2px solid var(--small-coin-icon-color);
    position: absolute;
    bottom: -2px;
    left: 18px;
    background: var(--small-coin-icon-color);
    border-radius: 50%;
}

.coin-wrapper.coin-to .coin {
    --largeCoin-to-bgColor: #F34141;
    background-color: var(--largeCoin-to-bgColor);
    border-color: var(--largeCoin-to-bgColor);
}

.coin-wrapper.coin-to .coin-small {
    --small-coin-icon-color: #FAC7C7;
    background-color: var(--small-coin-icon-color);
}

.price-name {
    font-size: 18px;
    font-weight: bold !important;
}

.change-btn {
    min-width: 30px;
    height: 30px;
    color: var(--primary-color);
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.coin-sub-name {
    font-size: 12px
}

.transparent-input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 16px;
    color: var(--black-color);
    font-weight: 600;
    height: auto
}

.search-bar i {
    position: absolute;
    left: 12px;
    top: 16px;
    color: #d5d5ee;
}

.search-bar input {
    padding-left: 36px;
    border-color: var(--border-color-comman);
}

.search-bar input:focus {
    outline-color: var(--border-color-comman);
}

.coin-list-wrapper {
    max-height: 300px;
    overflow: auto;
}

.coin-list-wrapper .inner-card:hover {
    background: #5244d214 !important;
    cursor: pointer
}

.selcet-coin img {
    min-width: 50px;
    height: 50px
}

.center-card-with-line {
    height: 40px;
}

.center-card-with-line img {
    width: 24px;
    height: 24px;
}

.bottom-border-line {
    border-bottom: 1px solid var(--border-color);
}

.top-border-line {
    border-top: 1px solid var(--border-color);
}

.best-return {
    background-color: #337cf21a;
    color: #337cf2;
}

.faster {
    background-color: #32d5831a;
    color: #32d583;
}

.modal-backdrop.show {
    z-index: 1
}

.add-scroll-bar {
    max-height: 400px;
    overflow: auto
}

.active-card {
    border: 2px solid var(--bg-color-btn-primary) !important;
}

.selcet-coin.coin-wrapper {
    mask: none !important
}

.coin-list-wrapper.coin-wrapper {
    mask: none
}

.font-medium {
    font-weight: 600
}

.fw-400 {
    font-weight: 400 !important
}

.offcanvas {
    background-color: var(--offcanvas)
}

.offcanvas-body ul {
    list-style: none;
    padding: 0;
}

.offcanvas-body ul li .dropdown-item {
    font-size: 16px;
    line-height: 18px;
    color: var(--black-color);
    display: inline-block;
    padding: 6px 16px;
    border-radius: 10px;
}

.offcanvas-body ul li .dropdown-item:hover,
.offcanvas-body ul li .dropdown-item:active {
    background-color: var(--primary-color-8);
    font-weight: 600;
}

.modal-backdrop {
    position: absolute;
    background-color: #fff;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none
}

.custom-backgrop.show:before {
    content: '';
    position: absolute;
    background-color: #000;
    top: -100vh;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.5;
    height: 100vh;
    z-index: 0;
}

.btn-close {
    background: var(--white-color);
    color: var(--primary-color);
    display: flex;
    align-items: center;
    justofy-content: center
}

.selcet-coin.coin-wrapper .coin,
.infinite-scroll-component .coin-wrapper .coin,
.coin-list-wrapper .inner-card .coin-wrapper .coin {
    mask: unset !important;
    mask: none !important;
}

.infinite-scroll-component {
    display: flex;
    flex-direction: column;
    gap: 8px
}

[data-theme="dark"] .dropdown-menu i.fa-regular,
[data-theme="dark"] .offcanvas-body i.fa-regular {
    color: var(--black-color);
}

[data-theme="dark"] .light-logo {
    display: none;
}

[data-theme="light"] .dark-logo {
    display: none;
}


/* Set the dark mode variables... */

[data-theme="dark"] {
    --body-bg: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #05040B 0%, #060316 100%);
    --primary-color: #2563eb;
    /* --primary-iconcolor:#7A7493; */
    --primary-color-8: #322C4B;
    --primary-icon-color: #2F2B43;
    --white-color: #ffffff;
    /* --black-color: #ffffff; */
    --text-color-white: #ffffff;
    --border-color: #ffffff1f;
    --border-color-40: #d5d5ee66;
    --outer-card-bg: #EDEDF1;
    --black-color: #000000;
    /* --outer-card-bg: linear-gradient(210.96deg, rgba(32, 20, 96, 0.61) 0.01%, rgba(49, 30, 95, 0.7) 42.05%, rgba(57, 33, 113, 0.1) 104.81%); */
    --inner-card-bg: #FFFFFF;
    --header-card: #0f0d1d;
    /* --box-shadow: 0px 20px 69px 0px #080711D8; */
    --inner-card-box-shadow: 50px 38px 102.37px 0px #78769424;
    --offcanvas: #0f0d1d;
    --active-card: #fff;
    --inner-card-bg-2: #372A77;
    --black-color-2: #151231;
    --border-color-2: #fff;
    --bg-color-btn-primary: #2563EB;
    --box-shadow: 0px 20px 69px 0px #878787d8
}


/* Set the light mode variables... */

[data-theme="light"] {
    --body-bg: radial-gradient(123.22% 129.67% at 100.89% -5.6%, #fbfbfd 0%, #f2f2ff 100%);
    --primary-color: #2563eb;
    --primary-color-8: #5244d214;
    --primary-icon-color: #7851bc;
    --white-color: #ffffff;
    --text-color-white: #151231;
    --black-color: #000000;
    --bg-color-btn-primary: #2563EB;
    --border-color: #d5d5ee;
    --border-color-40: #d5d5ee66;
    --outer-card-bg: #EDEDF1;
    --inner-card-bg: linear-gradient(241.25deg, rgba(255, 255, 255, 0.45) 4.4%, rgba(255, 255, 255, 0.65) 61.77%, rgba(255, 255, 255, 0.54) 119.94%);
    --header-card: linear-gradient(90deg, #f3f3ff 29.59%, #f2f2ff 100%);
    --box-shadow: 0px 20px 69px 0px #dfdcffd8;
    --inner-card-box-shadow: 50px 38px 102.37px 0px #78769424;
    --offcanvas: #fff;
    --active-card: #5244d2;
    --inner-card-bg-2: linear-gradient(241.25deg, rgb(255 255 255 / 95%) 4.4%, rgb(255 255 255) 61.77%, rgb(255 255 255) 119.94%);
    --black-color-2: #151231;
    --border-color-2: #8080804f;
}


/* -------------------------------------------------------------------------
  VERTICAL STEPPERS
-------------------------------------------------------------------------- */


/* Steps */

.step {
    position: relative;
    min-height: 1em;
    color: gray;
}

.step+.step {
    margin-top: 1.5em
}

.step>div:first-child {
    position: static;
    height: 0;
}

.step>div:not(:first-child) {
    margin-left: 2em;
    padding-left: 1em;
}

.step.step-active .title {
    color: var(--bg-color-btn-primary) !important
}

.step.step-active .caption {
    color: var(--bg-color-btn-primary) !important;
}

.step.step-active .circle {
    background-color: var(--bg-color-btn-primary) !important;
    color: var(--white-color);
}

button.swap-btn {
    background: linear-gradient(135deg, #454cdc 0%, #411dbf 19.24%, #4f31d8 68.64%, #4c32dc 81.77%, #372dbc 100%);
    color: var(--white-color);
    font-size: 16px !important;
    font-weight: 600;
    height: 40px;
    display: inline-block;
    text-align: center;
}


/* .swap-btn-box{
    display: inline-block;
    text-align: center;
    width: 100%;
} */


/* .swap-card{
    background: unset;
} */


/* Circle */

.circle {
    background: rgb(229, 225, 235);
    position: relative;
    width: 2em;
    height: 2em;
    line-height: 2em;
    border-radius: 100%;
    color: var(--black-color-2);
    text-align: center;
    box-shadow: 0 0 0 3px var(--border-color-40);
}


/* Vertical Line */

.circle:after {
    content: ' ';
    position: absolute;
    display: block;
    top: 1px;
    right: 50%;
    bottom: 1px;
    left: 50%;
    height: 100%;
    width: 1px;
    transform: scale(1, 2);
    transform-origin: 50% -100%;
    background-color: var(--border-color-2);
    z-index: 0;
}

.step:nth-child(3) .circle:after {
    /* display: none; */
    background-color: transparent;
}

.swap-card-btn {
    padding: 10px;
    text-align: center;
}

.swap-card-btn a {
    text-align: center;
    color: var(--primary-color);
    display: block;
    font-weight: 600;
    font-size: 20px;
}


/* Stepper Titles */

.title {
    font-size: 20px;
    line-height: 1.5em;
    font-weight: 600;
    color: var(--black-color);
}

.caption {
    font-size: 0.8em;
    color: var(--black-color);
}

.bar {
    border: 1px solid #666;
    height: 20px;
    width: 30%;
    border-radius: 10px;
}

.bar .in {
    animation: fill 30s linear 1;
    height: 100%;
    background-color: var(--primary-color);
    border-radius: 10px;
}

@keyframes fill {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}

.base-coin label {
    line-height: 15px;
}

.right-arrow i {
    min-width: 30px;
    height: 30px;
    color: var(--primary-color);
    left: 50%;
    top: 50%;
}

.active-txn-swap {
    height: 30px;
    color: var(--primary-color);
    left: 50%;
    top: 50%;
}

.offcanvas-close-btn i {
    color: var(--black-color-900);
    font-size: 18px;
}


/*progress bar for realod path on every 60s*/

#countdown {
    position: absolute;
    margin: auto;
    height: 40px;
    width: 40px;
    text-align: center;
    top: 10px;
    right: 30px;
}

#countdown svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    transform: rotateY(-180deg) rotateZ(-90deg);
}

#countdown svg .background-circle {
    stroke-width: 4px;
    stroke: #e0e0e0;
    /* Light gray for background */
    fill: none;
}

#countdown svg .animated-circle {
    stroke-dasharray: 113px;
    stroke-dashoffset: 0px;
    stroke-linecap: round;
    stroke-width: 4px;
    stroke: var(--bg-color-btn-primary) !important;
    /* Main animated color */
    fill: none;
    animation: reloadPath 60s linear infinite forwards;
}

.aggrigator-box img {
    width: 100%;
}

.aggrigator-box {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 4px 8px;
    /* background-color: #337cf21a; */
    width: 110px !important;
}

.aggrigator-box h5 {
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 600;
}

@keyframes reloadPath {
    from {
        stroke-dashoffset: 0px;
    }
    to {
        stroke-dashoffset: 113px;
    }
}


/* progress bar end*/

.btn.btn-primary-bgColor {
    background-color: var(--bg-color-btn-primary) !important;
    color: var(--white-color) !important;
}

.cursor-pointer {
    cursor: pointer;
}